body {
  background-color: aquamarine;
  margin: 0;
  padding: 0;
}
#board {
  background-image: url("../src/img/background4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

#player {
  background-image: url("../src/img/boy5.jpg");
  position: absolute;
  bottom: 0;
}

.food {
  background-image: url("../src/img/bad\ bana\ 1\(1\).jpg");
  position: absolute;
}
