body {
  margin: 0;
  padding: 0;
}

#board {
  background-color: green;
  height: 100vh;
  position: relative;
}

#player {
  background-color: fuchsia;
  width: 20vw;
  height: 10vh;
  position: absolute;
  bottom: 0;
}

.obstacle {
  width: 20vw;
  height: 10vh;
  background-color: orange;
  position: absolute;
}
