body {
  background-color: aquamarine;
  margin: 0;
  padding: 0;
}
#game-board {
  width: 1000px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  position: relative;
  background-image: url(../src/img/background3.jpg);
  background-size: 1000px 300px;
}

#player {
  background-color: fuchsia;
  position: absolute;
  bottom: 0;
}

.food {
  background-color: orange;
  position: absolute;
}
